body
{
  font-family: 'Roboto';
  font-weight: 500;
  -webkit-user-select: none;
  background: transparent;
}

.titleBar {
  background-color: rgb(15,17,19);
  color: white;
  text-align: center;
  width: 100%;
}
.main {
  width:450px;
  height: 400px;
  right: 0;
  bottom: 0;
  position: fixed;
  flex-direction: column;
  text-decoration: none;
}
#sliderMenuRightArrow {
  margin-left: 15px;
}
#sliderMenuLeftArrow {
  margin-right: 15px;
}
.sliderMenuText {
  text-align: center;
  background-color: rgb(20,25,23);
  color: white;
  text-decoration: none;
}
.testcontainer {
  width:inherit;
  flex-direction: row;
  display: flex;
}
.menuContent {
  flex: 1;
  background-color: rgb(25,21,20);
  color: white;
  overflow: auto;
  height: 400px;
}
.buttonPanel {
  flex: 0;
  width: 100px;
  height: 50px;
}
.row {
  margin-left: 0 !important;
  margin-right:0 !important;
}


/* GI OPTIONS */

.optionsText {
  font-size: 28px;
  text-align: center;
  color:red;
  font-weight: 600;
}
.optionsInner {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  text-align:center;
}
.optionsGrid {
  margin-top: 50px;
}
.optionCaption {
  color:#A92F41;
  font-size: 18px;
}
.mainOptionsText {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 100px;
}
