body
{
  background-color: transparent;
  font-family: 'Roboto';
  font-weight: 500;
  -webkit-user-select: none;
}

#topLeftInfo
{
  margin-left:0px;
  margin-top:0px;
  color:white;
  font-size: 13px;
  background-image:url("../images/yumeLogoOverlay.png");
  background-repeat: no-repeat;
  background-position: left;
  width:522px;
  height:261px;
}
#sampleName
{
  margin-left:150px;
  padding-top:25px;
}
#fps
{
  margin-left:150px;
  padding-top:2px;
}
#fps p {
  display: inline;
  color: #25D366;
}
#fps div.innerMs {
  display: inline;
  font-size: 9px;
  color: white;
}
#totalMemory
{
  margin-left:150px;
  padding-top:2px;
}
#textureQuality
{
  margin-left:0px;
  margin-top:150px;
  padding-top:2px;
}
p {
  display: inline;
  color: #2ecc71;
}
#totalMemory p {
  display: inline;
  color:magenta;
}
#sampleName p {
  display: inline;
  color: lightblue;
}
.memoryUsagePanel {
  right: 0px;
  bottom: 0px;
  position:fixed;
  color:white;
}
.cameraPanel {
  left: 0px;
  bottom: 0px;
  position:fixed;
  color:white;
  font-size:11px;
}
.cameraPanel div {
  color:red;
}
.postFxPanel {
  right: 0px;
  top: 0px;
  width:300px;
  position: fixed;
  color:white;
  background-color:rgba(176,190,197 ,0.5);
}
.bloomSwitchOptions {
  display:none;
}
.bloomHDRSwitchOptions {
  display:none;
}
.blurSwitchOptions {
  display:none;
}
.autoexposureSwitchOptions {
  display: none;
}
.godraysSwitchOptions {
  display: none;
}
.advancedOptsPanel {
  right: 0px;
  width: 300px;
  top:500px;
  position: fixed;
  color:white;
}
.ssaoAdditional {
  margin-left: 10px;
}
